<%= form_for(lecture) do |f| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :passing_grade %>
    <%= f.number_field :passing_grade %>
  </div>

    Who is owner of this lecture?<br>
    <input type="radio" name="colors"  id="teacher">Teacher<br>
    <input type="radio" name="colors"  id="lecturer">Lecturer

    <div id="teacherField" class="field">
      <%= f.label :teacher %>
      <%= f.collection_select :owner_object_id, Teacher.all, :id, :name %>
      <%= f.hidden_field :owner_object_type, value: 'Teacher' %>
    </div>

    <div id="lecturerField" class="field" >
      <%= f.label :lecturer %>
      <%= f.collection_select :owner_object_id, Lecturer.all, :id, :name %>
      <%= f.hidden_field :owner_object_type, value: 'Lecturer' %>
    </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Lecture" onclick="passProperOwner()" data-disable-with="Create Lecture">  </div>


<% end %>


<script>
    function passProperOwner() {
        console.log('shemovida')
        if (document.getElementById("teacher").checked == true) {
            var elem = document.getElementById("lecturerField");
            elem.parentNode.removeChild(elem);
        }
        else {
            var elem = document.getElementById("teacherField");
            elem.parentNode.removeChild(elem);
        }
    }

</script>