
<%= link_to 'Home Page', root_path %>
<%= link_to 'Schools', schools_path %>
<%= link_to 'Students', students_path %>
<%= link_to 'Lectures', lectures_path %>
<%= link_to 'Student Grades', student_grades_path %>
<a href="/good_students">Good Students</a>
<a href="/passed_students">Passed Students</a>
<%= link_to 'Cities', cities_path %>
<%= link_to 'Countries', countries_path %>
<%= link_to 'Teachers', teachers_path %>
<%= link_to 'Lecturers', lecturers_path %>
<%= link_to 'Query Interfaces', query_interfaces_path  %>
<%= link_to 'Hash Conditions', hash_conditions_path %>